<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyh.crm.workbench.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.yyh.crm.workbench.entity.Activity">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="owner" jdbcType="CHAR" property="owner" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="start_date" jdbcType="CHAR" property="startDate" />
    <result column="end_date" jdbcType="CHAR" property="endDate" />
    <result column="cost" jdbcType="VARCHAR" property="cost" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="edit_time" jdbcType="CHAR" property="editTime" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, owner, name, start_date, end_date, cost, description, create_time, create_by, 
    edit_time, edit_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_activity
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_activity
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.yyh.crm.workbench.entity.Activity">
    insert into tbl_activity (id, owner, name, start_date, 
      end_date, cost, description, 
      create_time, create_by, edit_time, 
      edit_by)
    values (#{id,jdbcType=CHAR}, #{owner,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{startDate,jdbcType=CHAR}, 
      #{endDate,jdbcType=CHAR}, #{cost,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, 
      #{editBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yyh.crm.workbench.entity.Activity">
    insert into tbl_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="editBy != null">
        edit_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=CHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=CHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        #{editBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyh.crm.workbench.entity.Activity">
    update tbl_activity
    <set>
      <if test="owner != null">
        owner = #{owner,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=CHAR},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=CHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        edit_by = #{editBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyh.crm.workbench.entity.Activity">
    update tbl_activity
    set owner = #{owner,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=CHAR},
      end_date = #{endDate,jdbcType=CHAR},
      cost = #{cost,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=CHAR},
      edit_by = #{editBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <insert id="insertActivity" parameterType="com.yyh.crm.workbench.entity.Activity">
    insert into tbl_activity (id, owner, name, start_date,
                              end_date, cost, description,
                              create_time, create_by)
    values (#{id,jdbcType=CHAR}, #{owner,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{startDate,jdbcType=CHAR},
            #{endDate,jdbcType=CHAR}, #{cost,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
            #{createTime,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR})
  </insert>
  <select id="selectActivityByConditionForPage" parameterType="map" resultMap="BaseResultMap">
    select a.id,u.name as 'owner',a.name,a.start_date,a.end_date,a.cost,a.description,
          a.create_time,u1.name as 'create_by',a.edit_time,u2.name as 'edit_by'
    from tbl_activity a
    join tbl_user u on a.owner = u.id
    join tbl_user u1 on a.create_by = u1.id
    left join tbl_user u2 on a.edit_by = u2.id
    <where>
      <if test="name != null and name != '' ">
        and a.name like '%' #{name} '%'
      </if>
      <if test="owner != null and owner != '' ">
        and u.name like '%' #{owner} '%'
      </if>
      <if test="startDate != null and startDate != '' ">
        and a.start_date >= #{startDate}
      </if>
      <if test="endDate != null and endDate != '' ">
        and a.end_date &lt;= #{endDate}
      </if>
    </where>
    order by a.create_time desc
    limit #{beginNo},#{pageSize}
  </select>
  <select id="selectCountOfActivityByCondition" parameterType="map" resultType="int">
    select count(*)
    from tbl_activity a
    join tbl_user u on a.owner = u.id
    join tbl_user u1 on a.create_by = u1.id
    left join tbl_user u2 on a.edit_by = u2.id
    <where>
      <if test="name != null and name != '' ">
        and a.name like '%' #{name} '%'
      </if>
      <if test="owner != null and owner != '' ">
        and u.name like '%' #{owner} '%'
      </if>
      <if test="startDate != null and startDate != '' ">
        and a.start_date >= #{startDate}
      </if>
      <if test="endDate != null and endDate != '' ">
        and a.end_date &lt;= #{endDate}
      </if>
    </where>
  </select>
  <delete id="deleteActivityByIds" parameterType="string">
    delete from tbl_activity where id
        in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
        #{id}
    </foreach>
  </delete>
  <select id="selectActivityById" parameterType="string" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from tbl_activity
    where id = #{id}
  </select>
  <update id="updateActivityById" parameterType="com.yyh.crm.workbench.entity.Activity">
    update tbl_activity
    <set>
    <if test="owner != null">
      owner = #{owner},
    </if>
    <if test="name != null">
      name = #{name},
    </if>
    <if test="startDate != null">
      start_date = #{startDate},
    </if>
    <if test="endDate != null">
      end_date = #{endDate},
    </if>
    <if test="cost != null">
      cost = #{cost},
    </if>
    <if test="description != null">
      description = #{description},
    </if>
      <if test="createBy != null">
        create_by = #{createBy},
      </if>
      <if test="editTime != null">
      edit_time = #{editTime},
      </if>
      <if test="editBy != null">
        edit_by = #{editBy}
      </if>
    </set>
    where id = #{id}
  </update>
  <select id="selectAllActivities" resultMap="BaseResultMap">
    select a.id,u.name as 'owner',a.name,a.start_date,a.end_date,a.cost,a.description,
           a.create_time,u1.name as 'create_by',a.edit_time,u2.name as 'edit_by'
    from tbl_activity a
           join tbl_user u on a.owner = u.id
           join tbl_user u1 on a.create_by = u1.id
           left join tbl_user u2 on a.edit_by = u2.id
    order by a.create_time desc
  </select>
  <select id="selectAllActivitiesByIds" parameterType="string" resultMap="BaseResultMap">
    select a.id,u.name as 'owner',a.name,a.start_date,a.end_date,a.cost,a.description,
           a.create_time,u1.name as 'create_by',a.edit_time,u2.name as 'edit_by'
    from tbl_activity a
           join tbl_user u on a.owner = u.id
           join tbl_user u1 on a.create_by = u1.id
           left join tbl_user u2 on a.edit_by = u2.id
    where a.id in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
    order by a.create_time desc
  </select>
  <insert id="insertActivityByList" parameterType="com.yyh.crm.workbench.entity.Activity">
    insert into tbl_activity
        (id, owner, name, start_date, end_date, cost, description, create_time, create_by)
        values
            <foreach collection="list" item="obj" separator=",">
                (#{obj.id},#{obj.owner},#{obj.name},#{obj.startDate},#{obj.endDate},
                 #{obj.cost},#{obj.description},#{obj.createTime},#{obj.createBy})
            </foreach>
  </insert>
  <select id="selectActivityForDetailById" parameterType="string" resultMap="BaseResultMap">
    select a.id,u.name as 'owner',a.name,a.start_date,a.end_date,a.cost,a.description,
      a.create_time,u1.name as 'create_by',a.edit_time,u2.name as 'edit_by'
    from tbl_activity a
      join tbl_user u on a.owner = u.id
      join tbl_user u1 on a.create_by = u1.id
      left join tbl_user u2 on a.edit_by = u2.id
        where a.id = #{id}
  </select>
</mapper>